@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.sidebar-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-family: 'Staatliches', cursive;
    color:#fff;
}

.sidebar-buttons:hover{
    background-color: rgb(238, 236, 236);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #c0392b;

}